body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

section {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #2980b9;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin: 40px 0;
    font-style: italic;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://images.unsplash.com/photo-1535905557558-afc4877a26fc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover; 
    background-position: center; 
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

section {
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9); /* Background putih dengan transparansi */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #2980b9;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin: 40px 0;
    font-style: italic;
}
