body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f44336;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: yellow;
}

header h2 {
    margin-top: 10px;
    font-size: 24px;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

section h3 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #4CAF50;
    font-size: 18px;
    text-align: justify;
}

a {
    color: #f44336;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

audio {
    width: 100%;
    margin-top: 10px;
}

audio source {
    display: block;
}

audio + p {
    text-align: center;
    font-size: 16px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2 {
    text-align: center;
    color: red;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
